@use "../abstracts" as a;
@use "../abstracts/mixins" as m;

#blogSection {
    font-family: a.$primaryFont;
    font-weight: lighter;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: a.$navy;
        margin-bottom: 2rem;
        position: relative;
        font-family: a.$primaryFont;
        font-weight: lighter;
        color: a.$mediumGray;
    
        // &::after {
        //   content: '';
        //   position: absolute;
        //   bottom: -0.5rem;
        //   left: 50%;
        //   transform: translateX(-50%);
        //   width: 90px;
        //   height: 3px;
        //   background-color: a.$burgundy;
        //   border-radius: 2px;
        // }
      }
    
}