@use "../abstracts" as a;
@use "../abstracts/mixins" as m;

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;

  img {
    width: 100%;
    border-radius: 10px;
  }

  p {
    padding: 0;
  }

  h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
  }
}
