@use "../abstracts" as a;
@use "../abstracts/mixins" as m;

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(a.$overlayDark, a.$overlayDark),
    url(../images/pase-1-img-3.JPG);
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-box {
  width: 90%;
  color: a.$white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    // color: a.$gold;
    background: linear-gradient(to right, a.$burgundy, a.$gold, a.$offWhite);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    // margin-bottom: 1.5rem;
  }

  p {
    margin: 10px 0 40px;
    color: a.$white;
    font-weight: 200;
    // font-size: 1.1rem;
    // line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    // max-width: 800px;
    // margin-left: auto;
    // margin-right: auto;
    font-family: a.$secondaryFont;
  }

  a {
    font-weight: 600;
  }
}

.sub-header {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: a.$white;
  background-image: linear-gradient(a.$overlayDark, a.$overlayDark),
    url(../images/pase-1-img-3.JPG);
  background-position: center;
  background-size: cover;

  .header-content {
    h1 {
      margin-bottom: 1.5rem;
      // color: a.$gold;
      background: linear-gradient(to right, a.$burgundy, a.$gold, a.$offWhite);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      // font-size: 2.5rem;
      font-family: a.$primaryFont;
    }

    p {
      font-weight: 200;
      margin: auto 20px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      max-width: 600px;
      line-height: 1.6;
      color: a.$white;
      font-family: a.$secondaryFont;
      text-align: center;
    }
  }
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: a.$white;
  border: 2px solid a.$gold;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;

  &:hover {
    border-color: a.$gold;
    background: a.$gold;
    color: a.$navy;
  }
}

.red-btn {
  border: 2px solid a.$burgundy;
  background: a.$burgundy;
  color: a.$white;

  &:hover {
    background: darken(a.$burgundy, 10%);
    border-color: darken(a.$burgundy, 10%);
    color: a.$white;
  }
}

@media screen and (min-width: 768px) {
  .text-box {
    h1 {
      font-size: 2.5rem;
    }

    p {
      // font-size: 1.125rem;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .text-box {
    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
}
