@use "../abstracts" as a;
@use "../abstracts/mixins" as m;

.nav-con {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: a.$mediumGray;
}

nav {
  display: flex;
  padding: 0% 4%;
  justify-content: space-between;
  align-items: center;

  img {
    width: 250px;
  }

  .nav-links {
    flex: 1;
    text-align: right;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(8px);
   -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: all 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);

    ul {
      // padding: 2rem 0;

      li {
        list-style: none;
        display: block;
        padding: 8px 12px;
        position: relative;

        a {
          color: a.$white;
          text-decoration: none;
          font-size: 14px;
          font-family: a.$secondaryFont;
        }

        &::after {
          content: "";
          width: 0%;
          height: 2px;
          background: a.$gold;
          display: block;
          margin: auto;
          transition: 0.05s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .fa {
    display: block;
    color: a.$white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  nav {
    .nav-links {
      position: static;
      background: transparent;
      height: auto;
      width: auto;
      text-align: right;
      box-shadow: none;

      ul {
        
        li {
          display: inline-block;
          
          a {
            font-size: 14px;
          }
        }
      }
    }

    .fa {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  nav {
    img {
      width: 350px;
    }
    .nav-links ul li a {
      font-size: 20px;
    }
  }
}
