@use "../abstracts" as a;
:root {
  --plyr-color-main: a.$primaryColor;
  --plyr-control-icon-size: 15px;
  --plyr-control-radius: 20px;
  --plyr-control-family: a.$primaryFont;
  --plyr-control-spacing: 15px;
}

#video-section {
  margin: 4rem auto;
  padding: 0 2rem;
  max-width: 1200px;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: a.$navy;
    margin-bottom: 2rem;
    position: relative;
    font-family: a.$primaryFont;
    font-weight: lighter;
    color: a.$mediumGray;
  }
}

#player-container {
  margin: 2rem auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  background-color: a.$navy;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, a.$burgundy, a.$gold);
    z-index: 1;
  }
}
