@use "../abstracts" as a;

:root {
  --plyr-color-main: a.$primaryColor;
  --plyr-control-icon-size: 15px;
  --plyr-control-radius: 20px;
  --plyr-control-family: a.$primaryFont;
  --plyr-control-spacing: 15px;
}

#video-section {
  margin: 30px auto;
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: #fc0 1px 0 10px;
  }
}

#player-container {
  margin: 20px;
  box-shadow: 15px 15px 10px a.$accentColor2;
}
