@use "../abstracts" as a;
@use "../abstracts/mixins" as m;

// Base Styles
h1,
h2,
h3,
h4,
h5 {
  font-family: a.$primaryFont;
  margin: 20px 0;
  text-align: center;
  font-weight: 600;
}

p,
a,
button,
input,
label,
textarea,
select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 14px;
  font-weight: 300;
}

// Tablet Media Query (768px and above)
@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 40px;
  }

  p,
  a,
  button,
  input,
  label,
  textarea,
  select {
    font-size: 20px;
    line-height: 18px;
  }
}

// Desktop Media Query (1200px and above)
@media screen and (min-width: 1200px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 50px; // Increased margin for larger screens
  }

  p,
  a,
  button,
  input,
  label,
  textarea,
  select {
    font-size: 22px; // Slightly larger font size for better readability
    line-height: 24px; // Increased line height for better spacing
  }
}
